---
import * as utils from "../scripts/utils";
import type { ImageMetadata } from 'astro';
import { Image, Picture } from 'astro:assets';
const { paths, title, date, index } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/artwork/**/*.{jpeg,jpg,png,gif,webp,svg}');

function fixImagePath(path: string) {
    return '/'+path.replaceAll('\\', '/');
}

let css = '';
// css += `.photo-card:hover .carosel-body {left: -100%}`;
if (paths.length > 1)
{
    paths.forEach((p: string, index: number) => {
        const pathParts = p.split('\\');
        const title: string = pathParts[pathParts.length - 2];
        const id = (title + '-' + index).replaceAll(' ', '-');
        // console.log(id);
        css += `
        .photo-card:has(#${id}:checked) .carosel-body {
            left: -${index * 100}%;
        }
            
        `;
    })
}
console.log(css);
///* transform: translateX(-${index * 100}%); */
---

<!-- <div class="photo-card">
    <img src={paths[0]} alt={title}/>
    <div class="overlay">
        <h3 class="title">{title}</h3>
        <p class="date">{utils.formatDate(date)}</p>
    </div>
</div> -->

<div class="photo-card">
    <!-- <img class="first-image" src={paths[0]} alt={title}/> -->
    <Image class="first-image" src={images[fixImagePath(paths[0])]()} alt={title} height='600' loading={index < 15 ? "eager" : "lazy"} decoding={index < 15 ? "sync" : "async"}/>
    
    <div class="carosel-body">
        {paths.map((p: string) =>
            // <img src={p} alt={title} />
            <Image src={images[fixImagePath(p)]()} alt={title} height='600' loading={index < 15 ? "eager" : "lazy"} decoding={index < 15 ? "sync" : "async"}/>
        )}
    </div>
    
    <div class="overlay">
        <h3 class="title">{title}</h3>
        <p class="date">{utils.formatDate(date)}</p>
    </div>

    <div class="radio-buttons">
        {paths.length > 1 && paths.map((p: string, index: number) => {
            const pathParts = p.split('\\');
            const title: string = pathParts[pathParts.length - 2];
            const id = (title + '-' + index).replaceAll(' ', '-');
            // console.log(id);
            
            return(<input type="radio" name={title} id={id} checked={index === 0}/>)
        })}
    </div>
</div>

<style>
     /* PHOTO CARD */
    .photo-card {
        position: relative;
        overflow: hidden;
        display: flex;
        
        min-width: 200px;
        max-width: 450px;
        height: 220px;
        /* width: 220px; */
        /* width: 280px; */

        border-radius: 8px;

        transition: transform 0.3s;
    }

    .first-image {
        visibility: hidden;

        display: flex;
        width: auto;
        height: 100%;

        pointer-events: none;
    }

    .carosel-body {
        position: absolute;
        top: 0;
        left: 0;

        display: flex;

        width: 100%;
        height: 100%;

        object-fit: cover;
        /* overflow-x: scroll; */
        scroll-snap-type: x mandatory;
        transition: left 0.3s ease;
    }
    
    .carosel-body img {
        flex: 0 0 auto;
        display: flex;
        width: 100%;
        height: 100%;
        
        object-fit: cover;
        scroll-snap-align: center;

        transition: filter 0.3s;
    }

    .photo-card:hover {
        transform: scale(1.05);
    }

    .photo-card:hover img {
        filter: brightness(60%);
    }

    /* .photo-card:hover .carosel-body {
        left: -100%
    } */

    .overlay {
        position: absolute;
        
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: white;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        opacity: 0;
        transition: opacity 0.3s ease;
        text-align: center;
    }

    /* OVERLAY */
    .photo-card:hover .overlay{
        opacity: 1;
    }

    .overlay .title {
        max-width: 95%;
        font-size: 2rem;
        font-weight: bold;
        font-family: sans-serif;
        overflow-wrap: break-word;
        margin-bottom: .25em;
    }

    .overlay .date {
        font-size: 0.9rem;
        font-family: sans-serif;
        margin-top: 0;
        opacity: .85;
    }

    /* RADIO BUTTONS */
    .radio-buttons {
        position: absolute;
        opacity: 0;
        
        top: 195px;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;

        background-color: transparent;
        color: transparent;
        justify-content: center;

        transition: opacity 0.3s ease;
        /* z-index: 10; */
    }

    .photo-card:hover .radio-buttons{
        opacity: 1;
    }

    .radio-buttons input[type="radio"] {
        appearance: none;
        width: 40px;
        height: 10px;
        opacity: 0.3;
        border: 1px solid #b9b9b9ff;
        border-radius: 10px;
        background-color: white;
        /* accent-color: blue; */
        cursor: pointer;
        margin-left: 5px;
        margin-right: 5px;
    }

    .radio-buttons input[type="radio"]:checked {
        opacity: 1;
    }

    /* GENERATED */
    .photo-card:has(#I-Depend-On-You-0:checked) .carosel-body {
        left: -0%;
    }


    .photo-card:has(#I-Depend-On-You-1:checked) .carosel-body {
        left: -100%;
    }


    .photo-card:has(#Sliced-Open-0:checked) .carosel-body {
        left: -0%;
    }


    .photo-card:has(#Sliced-Open-1:checked) .carosel-body {
        left: -100%;
    }

    .photo-card:has(#Shading-Tests-0:checked) .carosel-body {
        left: -0%;
    }


    .photo-card:has(#Shading-Tests-1:checked) .carosel-body {
        left: -100%;
    }

    .photo-card:has(#GDLF-Stickers-0:checked) .carosel-body {
        left: -0%;
    }


    .photo-card:has(#GDLF-Stickers-1:checked) .carosel-body {
        left: -100%;
    }


    .photo-card:has(#GDLF-Stickers-2:checked) .carosel-body {
        left: -200%;
    }


    .photo-card:has(#GDLF-Stickers-3:checked) .carosel-body {
        left: -300%;
    }


    .photo-card:has(#GDLF-Stickers-4:checked) .carosel-body {
        left: -400%;
    }


    .photo-card:has(#GDLF-Stickers-5:checked) .carosel-body {
        left: -500%;
    }


    .photo-card:has(#GDLF-Stickers-6:checked) .carosel-body {
        left: -600%;
    }

    .photo-card:has(#Roughs-0:checked) .carosel-body {
        left: -0%;
    }


    .photo-card:has(#Roughs-1:checked) .carosel-body {
        left: -100%;
    }


    .photo-card:has(#Roughs-2:checked) .carosel-body {
        left: -200%;
    }
</style>